<main>
  <section class="cards">
    <div class="container">
      <div class="list-films cards-js"></div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="pagination">
        <h2 class="hiden">pagination</h2>
        <button type="button" data-element="prev">
          <svg width="16" height="16">
            <use xlink:href="./svg/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <ul class="page-list">
        </ul>
        <button type="button" data-element="next">
          <svg width="16" height="16">
            <use xlink:href="./svg/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>

</main>